<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sa.edu.getsocial" >
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Getsocial" >
        <activity
            android:name=".Faculty.FacultyMainActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login" />
        <activity android:name=".Faculty.AddAnnouncementActivity" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".Faculty.AddQuizActivity" />
        <activity android:name=".Student.StudentMainActivity" />
        <activity android:name=".Student.ResultActivity" />
        <activity android:name=".Student.QuestionsActivity" />
        <activity android:name=".Student.AddRequestActivity" />

        <service
            android:name=".Notification.Notifications.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".Notification.Notifications.Receiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action
                    android:name="android.intent.action.BOOT_COMPLETED"
                    android:priority="999" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>